*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(27, 66%, 92%);
}
.wrapper{
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: hsl(10, 79%, 65%);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}
.texts{
    display: flex;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: space-between;
}
.texts h3{
    font-size: medium;
}
.texts h1{
    font-size: xx-large;
}
.logo{
    align-self: center;
}
.container h1{
    margin-top: 20px;
    margin-bottom: 30px;
}
.container{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    padding-top: 3px;
    padding-bottom: 10px;
    color: black;
}
hr{
    margin: 30px auto;
}
.Info{
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left h1{
    font-size: xx-large;
    font-weight: bold;
}
.left h3{
    font-size: medium;
    font-weight: lighter;
}
.right h2{
    font-size: medium;
    font-weight: bold;
}
.right h3{
    font-size: medium;
    font-weight: lighter;
}
.right{
    margin-top: 15px;
}
.left{
    line-height: 15px;
}